.body-register{
    margin: 2%;
}

.content-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 0 auto;
}

.titre-register{
    color: #000;
    font-family: Lora;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}

.form-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

.ens_info-register{
    display: flex;
    justify-content: center;
    gap: 4%;
}

.ensp-register{
    display: flex;
    flex-direction: column;
}

.prenom-register{
    border: 1px solid #000;
    color: #000000;
    font-family: Lora;
    font-size: 24px;
    font-weight: 400;
    padding: 3%;
}

.lbl_prenom-register{
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
}

.nom-register{
    border: 1px solid #000;
    color: #000000;
    font-family: Lora;
    font-size: 24px;
    font-weight: 400;
    padding: 3% 2% 3% 3%;
}

.lbl_nom-register{
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
}

.ense-register{
    display: flex;
    flex-direction: column;
}

.email-register{
    border: 1px solid #000;
    color: #000000;
    font-family: Lora;
    font-size: 24px;
    font-weight: 400;
    padding: 2%;
}

.lbl_email-register{
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
}

.ensm-register{
    display: flex;
    flex-direction: column;
}

.mdp-register{
    border: 1px solid #000;
    color: #000000;
    font-family: Lora;
    font-size: 24px;
    font-weight: 400;
    padding: 2%;
}

.lbl_mdp-register{
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
}

.ensc-register{
    display: flex;
    flex-direction: column;
}

.confirm-register{
    border: 1px solid #000;
    color: #000000;
    font-family: Lora;
    font-size: 24px;
    font-weight: 400;
    padding: 2%;
}

.lbl_confirm-register{
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
}

.btnr-register{
    border: 1px solid #000;
    background: #000;
    color: #FFF;
    font-family: Lora;
    font-size: 24px;
    font-weight: 700;
    padding: 2% 17% 2% 17%;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.btnr-register:hover{
    background: #fff;
    color: #000;
}

.client-register{
    color: #000;
    font-family: Lora;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

.login-register{
    border: 1px solid #000;
    background: #000;
    padding: 1% 5% 1% 5%;
    transition: background-color 0.5s, color 0.5s;
}

.btnlogin-register{
    background: #000;
    color: #FFF;
    font-family: Lora;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.login-register:hover{
    background: #FFF;
    color: #000;
}

.login-register:hover .btnlogin-register{
    background: #FFF;
    color: #000;
}
