.img-accueil{
    width: 100%;
    height: auto;
}

.h1-accueil{
    font-weight: lighter;
    text-align: center;
    font-family: Lora;
    color: #ECC291;
    padding: 3%;
}

.container_bestsales-accueil{
    position: relative;
    overflow: hidden;
    width: 100%; 
    margin: auto;
    margin-bottom: 3%;
}

.carousel_bestsales-accueil {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    padding: 0.2%;
}

.slidebs-accueil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    box-sizing: border-box;
    width: 100%;
}

#btnp_bs-accueil, #btns_bs-accueil {
    position: absolute;
    top: 37%;
    margin-left: 1%;
    margin-right: 1%;
}

#btns_bs-accueil{
    right: 0;
}

.nomp-accueil{
    font-family: Lora;
    font-size: 34px;
    font-weight: 400;
}

.prixp-accueil{
    color: #777;
    font-family: Nunito;
    font-size: 28px;
    font-weight: 400;
}

.btn_panier-accueil{
    color: #fff;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 700;
    border: 1px solid #000;
    background: #000;
    padding : 2% 21.5% 2% 21.5%;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s;
    transition: font-size 0.5s ease;
    cursor: pointer;
}

.btn_panier-accueil:hover{
    background: #FFF;
    color: #000;   
}

#iconp-accueil{
    margin-top: 13.5%;
    margin-left: -2.7%;
    margin-right: -2.7%;
}

.carousel_container-accueil {
    position: relative;
    overflow: hidden;
    width: 100%; 
    margin: auto;
}

.carousel-accueil {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    padding: 0.2%;
}

.slide-accueil {
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.slide-accueil:hover{
    transform: scale(1.03);
}

#btnp-accueil, #btns-accueil {
    position: absolute;
    top: 50%;
    margin-left: 1%;
    margin-right: 1%;
}

#btns-accueil {
    right: 0;
}

.barbg-accueil{
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: #F7E1C7;
    display: flex;
    gap: 2%;
    padding: 2%;
}

.contentinfo-accueil{
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 8% 0% 8%;
}

.titreinfo-accueil{
    color: #000;
    font-family: Lora;
    font-size: 30px;
    font-weight: 700;
}

.logoinf-accueil{
    height: 4em;
}

.txt1bar-accueil, .txt2bar-accueil, .txt3bar-accueil{
    color: #000;
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
    transition: font-size 0.5s ease;
}

.enstxt-accueil{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    flex-shrink: 0;
}

.decouv-accueil{
    border-radius: 10px;
    background: #F5DAB9;
    padding: 1% 10% 1% 10%;
    border: 1px solid #F5DAB9;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.btnd-accueil{
    border: none;
    color: #C3AE93;
    text-align: center;
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
    background: #F5DAB9;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.decouv-accueil:hover{
    background: #fff;
    color: #F5DAB9;
}

.decouv-accueil:hover .btnd-accueil{
    background: #fff;
    color: #F5DAB9;
}

#chevronbtn-accueil{
    margin-top: 2%;
}

.contbar-accueil{
    width: 100%;
    height: 380px;
    overflow: hidden;
}

.imgbar-accueil{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 350px){
    .barbg-accueil{
        display: block;
    }

    .txt1bar-accueil, .txt2bar-accueil, .txt3bar-accueil{
        font-size: 16px;
    }

    .contbar-accueil{
        display: none;
    }

    .contentinfo-accueil{
        padding: 0% 4% 2% 4%;
    }
}

@media screen and (min-width: 350px) and (max-width: 767px){
    .contbar-accueil{
        display: none;
    }

    .barbg-accueil{
        display: flex;
        justify-content: center;
    }

    .contentinfo-accueil{
        padding: 0% 4% 1% 4%;
    }
}

@media screen and (min-width: 500px) and (max-width: 750px){
    .btn_panier-accueil{
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 950px){
    .imgbar-accueil{
        width: auto;
        overflow: hidden;
        height: 385px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1100px){
    .btn_panier-accueil{
        font-size: 18px;
    }
}