footer{
    color: #000000;
}

.haut-footer{
    background-color: #F7E1C7;
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-bottom: 2%;
    transition: font-size 0.5s ease;
}

.secure-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    margin-left: 1%;
}

.livraison-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.8%;
}

.reso-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.1%;
}

#icon-footer{
    padding: 20%;
}

#icon-resof{
    padding: 5%;
}

.p-resof{
    margin-top: 11%;
}

.p-liv{
    margin-top: 8%;
}

p{
    margin: 0;
}

.bas-footer{
    font-family: Lora;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-footer{
    position: relative;
    height: 76px;
    left: 10%;
    margin-top: 7%;
}

.menu-footer{
    margin-top: 2%;
}

.help-footer{
    margin-top: 2%;
    margin-right: 4%;
}

.p-menuf{
    font-size: 36px;
}

.li-footer{
    font-size: 24px;
    transition: font-size 0.5s ease;
}

@media screen and (max-width: 349px){
    .haut-footer{
        font-size: 8px;
    }

    .logo-footer{
        display: none;
    }

    .help-footer ul{
        list-style: none;
        padding-inline: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .li-footer{
        font-size: 13px;
    }

    .p-menuf{
        display: none;
    }

    .menu-footer ul{
        list-style: none;
        padding-inline: 0;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 350px) and (max-width: 449px){
    .haut-footer{
        font-size: 11.5px;
    }

    .logo-footer{
        display: none;
    }

    .help-footer ul{
        list-style: none;
        padding-inline: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .li-footer{
        font-size: 15px;
    }

    .p-menuf{
        display: none;
    }

    .menu-footer ul{
        list-style: none;
        padding-inline: 0;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 450px) and (max-width: 549px){
    .haut-footer{
        font-size: 15px;
    }

    .logo-footer{
        display: none;
    }

    .help-footer ul{
        list-style: none;
        padding-inline: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .li-footer{
        font-size: 18px;
    }

    .p-menuf{
        display: none;
    }

    .menu-footer ul{
        list-style: none;
        padding-inline: 0;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 550px) and (max-width: 649px){
    .logo-footer{
        display: none;
    }

    .help-footer ul{
        list-style: none;
        padding-inline: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .p-menuf{
        display: none;
    }

    .menu-footer ul{
        list-style: none;
        padding-inline: 0;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 650px) and (max-width: 849px) {
    .logo-footer{
        display: none;
    }
}

@media screen and (min-width: 850px) and (max-width: 1100px) {
    .logo-footer{
        display: none;
    }

    .bas-footer{
        justify-content: center;
        gap: 20%;
    }
}

@media screen and (min-width: 1101px){
    .logo-footer{
        display: block;
    }
}