.body-login{
    margin: 2%;
}

.content-login{
    display: flex;
    width: 500.835px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 0 auto;
}

.titre-login{
    color: #000;
    font-family: Lora;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}

.form-login{
    display: flex;
    width: 500.835px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.email-login{
    border-radius: 20px;
    border: 1px solid #000;
    color: #000000;
    font-family: Lora;
    font-size: 32px;
    font-weight: 400;
    padding: 2%;
}

.mdp-login{
    border-radius: 20px;
    border: 1px solid #000;
    color: #000000;
    font-family: Lora;
    font-size: 32px;
    font-weight: 400;
    padding: 2%;
}

.lostmdp-login{
    color: #2972FF;
    font-family: Lora;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

.btnl-login{
    border-radius: 20px;
    border: 1px solid #000;
    background: #000;
    color: #FFF;
    font-family: Lora;
    font-size: 32px;
    font-weight: 700;
    padding: 2% 26% 2% 26%;
    transition: background-color 0.5s, color 0.5s;
}

.btnl-login:hover{
    background: #FFF;
    color: #000;
}

.new-login{
    color: #000;
    font-family: Lora;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

.create-login{
    border-radius: 20px;
    border: 1px solid #000;
    background: #000;
    padding: 2% 10% 2% 10%;
    transition: background-color 0.5s, color 0.5s;
}

.btncreate-login{
    background: #000;
    color: #FFF;
    font-family: Lora;
    font-size: 20px;
    font-weight: 700;
    border: none;
    transition: background-color 0.5s, color 0.5s;
}

.create-login:hover{
    background: #FFF;
    color: #000;
}

.create-login:hover .btncreate-login{
    background: #FFF;
    color: #000;
}