.content-about {
    overflow: hidden;
    font-family: Lora;
    margin-top: 14%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.concept-about {
    display: flex;
    margin-bottom: 10%;
    gap: 2%;
}

.txtc-about {
    display: flex;
    flex-direction: column;
    gap: 8%;
}

.titrec-about {
    color: #000;
    font-family: Lora;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    transition: font-size 0.5s ease;
}

.txtc1-about {
    color: #000;
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
    transition: font-size 0.5s ease;
}

.txtc2-about {
    color: #000;
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
    transition: font-size 0.5s ease;
}

.txtc3-about {
    color: #000;
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
    transition: font-size 0.5s ease;
}

.contentvc-about {
    width: 100%;
}

.videoc-about{
    width: 100%;
}

.huile-about{
    display: flex;
    gap: 2%;
    margin-bottom: 10%;
}

.contentih-about{
    width: 180%;
}

.imgh-about{
    width: 100%;
}

.txth-about{
    display: flex;
    flex-direction: column;
    gap: 8%;
}

.titreh-about {
    color: #000;
    font-family: Lora;
    font-size: 36px;
    font-weight: bold;
    transition: font-size 0.5s ease;
    text-align: center;
}

.txth1-about {
    color: #000;
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
    transition: font-size 0.5s ease;
}

.txth2-about {
    color: #000;
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
    transition: font-size 0.5s ease;
}

.txth3-about {
    color: #000;
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
    transition: font-size 0.5s ease;
}

.txth4-about {
    color: #000;
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
    transition: font-size 0.5s ease;
}

.identite-about{
    display: flex;
    gap: 2%;
    margin-bottom: 10%;
}

.txti-about{
    display: flex;
    flex-direction: column;
    gap: 8%;
}

.titrei-about {
    color: #000;
    font-family: Lora;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.txti1-about {
    color: #000;
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
    transition: font-size 0.5s ease;
}

.txti2-about {
    color: #000;
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
    transition: font-size 0.5s ease;
}

.txti3-about {
    color: #000;
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
    transition: font-size 0.5s ease;
}

.contentii-about{
    width: 120%;
}

.imgi-about{
    width: 100%;
}

.tiktok-about{
    display: flex;
    justify-content: center;
    gap: 13%;
}

.tikv-about{
    display: flex;
    gap: 10%;
}

.videot-about{
    height: 500px;
}

.reso-about{
    display: flex;
    flex-direction: column;
    gap: 8%;
    background-color: #fff6e3;
    border: 2px solid #000;
    border-radius: 40px;
    text-align: center;
    width: 435px;
    height: 250px;
    margin-top: 7%;
}

.titrer-about{
    color: #000;
    font-family: Lora;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 2% 5% 0% 5%;
    transition: font-size 0.5s ease;
}

.txtr-about{
    color: #000;
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
    padding: 0% 5% 2% 5%;
    transition: font-size 0.5s ease;
}

.ensl-about{
    display: flex;
    justify-content: center;
    gap: 4%;
}

.logo-about{
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 549px) {
    .content-about{
        margin-top: 28%;
    }

    .concept-about{
        flex-direction: column;
    }

    .contentvc-about{
        margin-top: 2%;
    }

    .huile-about{
        flex-direction: column-reverse;
    }

    .contentih-about{
        width: 100%;
        margin-top: 2%;
    }

    .identite-about{
        flex-direction: column;
    }

    .contentii-about{
        margin-top: 2%;
    }

    .titrec-about, .titreh-about, .titrei-about{
        font-size: 24px;
    }
    .txtc1-about, .txtc2-about, .txtc3-about{
        font-size: 16px;
        text-align: center;
        padding: 1%;
    }

    .txth1-about, .txth2-about, .txth3-about, .txth4-about{
        font-size: 16px;
        text-align: center;
        padding: 1%;
    }

    .txti1-about, .txti2-about, .txti3-about{
        font-size: 16px;
        text-align: center;
        padding: 1%;
    }

    .reso-about{
        height: 160px;
        margin: 0;
    }

    .titrer-about{
        font-size: 18px;
    }

    .txtr-about{
        font-size: 12px;
    }

    .tikv-about{
        display: none;
    }
}

@media screen and (min-width: 550px) and (max-width: 767px) {
    .content-about{
        margin-top: 18%;
    }

    .concept-about{
        flex-direction: column;
    }

    .contentvc-about{
        margin-top: 2%;
    }

    .huile-about{
        flex-direction: column-reverse;
    }

    .contentih-about{
        width: 100%;
        margin-top: 2%;
    }

    .identite-about{
        flex-direction: column;
    }

    .contentii-about{
        margin-top: 2%;
    }

    .titrec-about, .titreh-about, .titrei-about{
        font-size: 24px;
    }
    .txtc1-about, .txtc2-about, .txtc3-about{
        font-size: 16px;
        text-align: center;
        padding: 0.6%;
    }

    .txth1-about, .txth2-about, .txth3-about, .txth4-about{
        font-size: 16px;
        text-align: center;
        padding: 0.6%;
    }

    .txti1-about, .txti2-about, .txti3-about{
        font-size: 16px;
        text-align: center;
        padding: 0.6%;
    }

    .reso-about{
        height: 160px;
    }

    .titrer-about{
        font-size: 16px;
    }

    .txtr-about{
        font-size: 10px;
    }

    .videot-about{
        height: 260px;
    }
}

@media screen and (min-width: 768px) and (max-width: 899px) {
    .content-about{
        margin-top: 20%;
    }

    .titrec-about, .titreh-about, .titrei-about{
        font-size: 20px;
    }
    .txtc1-about, .txtc2-about, .txtc3-about{
        font-size: 10px;
    }

    .txth1-about, .txth2-about, .txth3-about, .txth4-about{
        font-size: 10px;
    }

    .txti1-about, .txti2-about, .txti3-about{
        font-size: 10px;
    }

    .reso-about{
        height: 210px;
    }

    .titrer-about{
        font-size: 22px;
    }

    .txtr-about{
        font-size: 14px;
    }

    .videot-about{
        height: 360px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1099px) {
    .content-about{
        margin-top: 18%;
    }

    .titrec-about, .titreh-about, .titrei-about{
        font-size: 28px;
    }
    .txtc1-about, .txtc2-about, .txtc3-about{
        font-size: 12px;
    }

    .txth1-about, .txth2-about, .txth3-about, .txth4-about{
        font-size: 12px;
    }

    .txti1-about, .txti2-about, .txti3-about{
        font-size: 12px;
    }

    .reso-about{
        height: 210px;
    }

    .titrer-about{
        font-size: 22px;
    }

    .txtr-about{
        font-size: 14px;
    }

    .videot-about{
        height: 450px;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1250px) {
    .content-about{
        margin-top: 16%;
    }

    .txtc1-about, .txtc2-about, .txtc3-about{
        font-size: 14px;
    }

    .txth1-about, .txth2-about, .txth3-about, .txth4-about{
        font-size: 14px;
    }

    .txti1-about, .txti2-about, .txti3-about{
        font-size: 14px;
    }
}