.body-login{
    margin: 2%;
}

.logo-login{
    width: 240px;
    height: 76px;
}

.content-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 0 auto;
}

.titre-login{
    color: #000;
    font-family: Lora;
    font-size: 36px;
    font-weight: 400;
    margin: 0;
}

.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.lbl_email-login{
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
}

.ense-login{
    display: flex;
    flex-direction: column;
}

.email-login{
    border: 1px solid #000;
    color: #000000;
    font-family: Lora;
    font-size: 28px;
    font-weight: 400;
    padding: 2%;
}

.lbl_mdp-login{
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
}

.ensm-login{
    display: flex;
    flex-direction: column;
}

.mdp-login{
    border: 1px solid #000;
    color: #000000;
    font-family: Lora;
    font-size: 28px;
    font-weight: 400;
    padding: 2%;
}

.lostmdp-login{
    color: #2972FF;
    font-family: Lora;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    cursor: pointer;
}

.btnl-login{
    border: 1px solid #000;
    background: #000;
    color: #FFF;
    font-family: Lora;
    font-size: 28px;
    font-weight: 700;
    padding: 2% 31% 2% 31%;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.btnl-login:hover{
    background: #FFF;
    color: #000;
}

.new-login{
    color: #000;
    font-family: Lora;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.create-login{
    border: 1px solid #000;
    background: #000;
    padding: 0.7% 3% 0.7% 3%;
    transition: background-color 0.5s, color 0.5s;
}

.btncreate-login{
    background: #000;
    color: #FFF;
    font-family: Lora;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.create-login:hover{
    background: #FFF;
    color: #000;
}

.create-login:hover .btncreate-login{
    background: #FFF;
    color: #000;
}