header {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-bottom: 1px solid #000000;
}

.top-header{
    display: flex;
    padding-bottom: 0.7em;
}

.logo-header{
    width: 240px;
}

.ens_icon-header {
    top: 7%;
    padding-right: 3%;
    display: flex;
    margin-left: auto;
    position: absolute;
    right: 0;
}

#icon-header{
    padding: 10% 10% 0% 10%;
    width: 30px;
    height: 30px;
}

.burger-header{
    display: none;
}

.x-header{
    display: none;
}

.ul-header {
    list-style: none;
    display: flex;
}

.li-header {
    margin-right: 2.2em;
    font-family: Lora;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: font-size 0.5s ease;
}

.ap-header{
    text-decoration: none;
    color: #000000;
}

.am-header{
    text-decoration: none;
    color: #000000;
}

.amt-header{
    text-decoration: none;
    color: #000000;
}

.ac-header{
    text-decoration: none;
    color: #000000;
}

.ab-header{
    text-decoration: none;
    color: #000000;
}

.apc-header{
    text-decoration: none;
    color: #000000;
}

/* Media Query pour les écrans en dessous de 768px */
@media screen and (max-width: 767px) {
    .burger-header{
        display: block;
        position: absolute;
        right: 0;
        padding: 3%;
        transition: all 0.3s ease;
    }

    .x-header{
        position: absolute;
        right: 0;
        padding: 3%;
        transition: all 0.3s ease;
    }

    .nav-header{
        display: none;
    }

    .nav-active{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        padding-top: 4%;
    }

    .ul-header{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding-inline: 0;
    }

    .li-header{
        margin: 0;
        font-family: Lora;
        font-size: 20px;
        padding-bottom: 10%;
        transition: font-size 0.5s ease
    }

    .ens_icon-header{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .li-header {
        font-size: 12px; /* Ajustez la taille de police pour cette plage de largeurs d'écran */
    }

    .li-header:hover .menu_parfums-header{
        display: block;
    }
    
    .li-header:hover .menu_brumes-header{
        display: block;
    }
    
    .li-header:hover .menu_pc-header{
        display: block;
    }

    .burger-header{
        display: none;
    }

    .x-header{
        display: none;
    }
}

/* Media Query pour les écrans de 768px à 1200px */
@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .li-header {
        font-size: 16px; /* Ajustez la taille de police pour cette plage de largeurs d'écran */
    }

    .li-header:hover .menu_parfums-header{
        display: block;
    }
    
    .li-header:hover .menu_brumes-header{
        display: block;
    }
    
    .li-header:hover .menu_pc-header{
        display: block;
    }
}

/* Media Query pour les écrans au-dessus de 1200px */
@media screen and (min-width: 1200px) {
    .li-header {
        font-size: 20px; /* Ajustez la taille de police pour les écrans au-dessus de 1200px */
    }

    .li-header:hover .menu_parfums-header{
        display: block;
    }
    
    .li-header:hover .menu_brumes-header{
        display: block;
    }
    
    .li-header:hover .menu_pc-header{
        display: block;
    }
}

/* Media Query pour les écrans au-dessus de 1440px */
@media screen and (min-width: 1440px) {
    .li-header {
        font-size: 24px; /* Ajustez la taille de police pour les écrans au-dessus de 1200px */
    }
}

.lismp-header{
    width: 100%;
    padding: 8% 2% 2% 2%;
}

.lismb-header{
    width: 100%;
    padding: 8% 2% 2% 2%;
}

.lismc-header{
    width: 100%;
    padding: 8% 2% 2% 2%;
}

