<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Maison Eau D'or</title>
        <link rel="stylesheet" href="{{ asset('assets/css/style.header.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>
    <body>
        {% block header %}
        {% include 'header.html.twig' %}
        {% endblock %}

        {% block body %}{% endblock %}
    </body>
</html>
