<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conditions générales de vente</title>
    <link rel="stylesheet" href="{{ asset('assets/css/style.cgv.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    {% include 'header.html.twig' %}

    <div class="content">
        <div class="content-fE4">
            <div class="heading-1-conditions-gnrales-Agc">Conditions générales</div>
            <div class="veuillez-trouver-ci-dessous-nos-conditions-gnrales-relatives-lutilisation-du-site-internet-maisoneaudorsumuplink-et-lachat-de-produits-sur-ce-site-gQ4">
                Veuillez trouver ci-dessous nos conditions générales relatives à l&#39;utilisation du site internet maisoneaudor.sumup.link et à l&#39;achat de produits sur ce site.
            </div>
            <div class="nhsitez-pas-nous-faire-part-de-toute-question-relative-aux-prsentes-conditions-au-moyen-du-formulaire-de-contact-ci-dessous-LDi">
                N&#39;hésitez pas à nous faire part de toute question relative aux présentes conditions au moyen du formulaire de contact ci-dessous.
            </div>
            <div class="lutilisation-par-les-clients-du-site-internet-est-rgie-par-les-prsentes-conditions-gnrales-ainsi-que-tout-avis-ou-toutes-conditions-figurant-sur-une-quelconque-autre-partie-du-site-internet-nous-prcisons-toutes-fins-utiles-que-maison-eau-dor-peut-modifier-ou-retirer-tout-moment-toute-partie-du-site-internet-sans-que-sa-responsabilit-ne-puisse-tre-engage-du-fait-de-ces-modifications-lgard-des-clients-maison-eau-dor-se-rserve-le-droit-de-modifier-les-prsentes-conditions-gnrales-lavenir-sans-tre-tenue-den-aviser-spcifiquement-les-clients-le-fait-de-poursuivre-lutilisation-du-site-internet-ou-de-passer-commande-ultrieurement-ces-modifications-vaudra-acceptation-de-ces-modifications-cBE">
                L&#39;utilisation par les clients du site internet est régie par les présentes conditions générales ainsi que tout avis ou toutes conditions figurant sur une quelconque autre partie du site internet. Nous précisons à toutes fins utiles que Maison Eau D&#39;or peut modifier ou retirer à tout moment toute partie du site internet, sans que sa responsabilité ne puisse être engagée du fait de ces modifications à l&#39;égard des clients. Maison Eau D&#39;or se réserve le droit de modifier les présentes conditions générales à l&#39;avenir sans être tenue d&#39;en aviser spécifiquement les clients. Le fait de
                poursuivre l&#39;utilisation du site internet ou de passer commande ultérieurement à ces
                modifications vaudra acceptation de ces modifications.
            </div>
            <div class="le-contrat-ne-prendra-effet-entre-vous-en-qualit-de-client-et-nous-quune-fois-que-la-commande-aura-t-traite-et-expdie-1cg">
                Le contrat ne prendra effet entre vous (en qualité de client) et nous qu&#39;une fois que la commande aura été traitée et expédiée.
            </div>
            <div class="en-passant-une-commande-au-travers-du-prsent-site-internet-le-client-garantit--tAg">En passant une commande au travers du présent site internet, le client garantit :</div>
            <div class="ordered-list-item-quil-nest-pas-mineur-ou-dans-lincapacit-lgale-de-passer-un-contrat-9cQ">
                - qu&#39;il n&#39;est pas mineur ou dans l&#39;incapacité légale de passer un contrat.
                <br/>
                - que les coordonnées divulguées lors de l&#39;enregistrement sont complètes et
                exactes.
                <br/>
                - qu&#39;il n&#39;utilise pas un faux nom ou celui d&#39;une autre personne physique ou morale sans autorisation.
            </div>
            <div class="strong-annuler-une-commande-Zi4">Passer une commande</div>
            <div class="en-tant-que-client-vous-pouvez-annuler-une-commande-sous-14-jours-et-vous-serez-rembours-du-montant-de-cette-dernire-sur-le-compte-avec-lequel-vous-avez-pay-votre-commande-UKE">
                En passant une commande, vous acceptez les présentes conditions générales et reconnaissez les avoir lu avant de procéder à la commande.
            </div>
            <div class="strong-annuler-une-commande-Zi4">Annuler une commande</div>
            <div class="en-tant-que-client-vous-pouvez-annuler-une-commande-sous-14-jours-et-vous-serez-rembours-du-montant-de-cette-dernire-sur-le-compte-avec-lequel-vous-avez-pay-votre-commande-UKE">
                En tant que client, vous pouvez annuler une commande sous 14 jours et vous serez
                remboursé du montant de cette dernière sur le compte avec lequel vous avez payé
                votre commande.
            </div>
            <div class="strong-annuler-une-commande-Zi4">Accepter une commande</div>
            <div class="en-tant-que-client-vous-pouvez-annuler-une-commande-sous-14-jours-et-vous-serez-rembours-du-montant-de-cette-dernire-sur-le-compte-avec-lequel-vous-avez-pay-votre-commande-UKE">
                Lorsqu'une commande est passée, vous recevrez une confirmation de commande à l'adresse e-mail fournie lors du paiement, contenant les informations sur le contenu et le prix de la commande.
            </div>
             <div class="strong-annuler-une-commande-Zi4">Livraison</div>
            <div class="en-tant-que-client-vous-pouvez-annuler-une-commande-sous-14-jours-et-vous-serez-rembours-du-montant-de-cette-dernire-sur-le-compte-avec-lequel-vous-avez-pay-votre-commande-UKE">
                En tant qu'acheteur, vous pouvez choisir parmi les options de livraison mentionnées et le moment qui vous convient le mieux. Maison Eau D'or ne peut être responsable de tout dommage causé pendant le transport ou dû à tout retard indépendant de sa volonté : Récupérer en magasin.
            </div>
            <div class="strong-annuler-une-commande-Zi4">Politique de retour</div>
            <div class="en-tant-que-client-vous-pouvez-annuler-une-commande-sous-14-jours-et-vous-serez-rembours-du-montant-de-cette-dernire-sur-le-compte-avec-lequel-vous-avez-pay-votre-commande-UKE">
                Maison Eau D'or accepte les retours sous 14 jours si les articles n'ont pas été utilisés, modifiés, lavés ou autrement manipulés. Les articles doivent être retournés dans leur emballage d'origine. Les articles ne peuvent être retournés à Maison Eau D'or sans le consentement écrit préalable de Maison Eau D'or et sont soumis à des frais de retour.
            </div>
            <div class="strong-annuler-une-commande-Zi4">Responsabilité</div>
            <div class="en-tant-que-client-vous-pouvez-annuler-une-commande-sous-14-jours-et-vous-serez-rembours-du-montant-de-cette-dernire-sur-le-compte-avec-lequel-vous-avez-pay-votre-commande-UKE">
                Nous nous efforçons de maintenir les informations figurant sur le présent site internet aussi exactes que possible ; toutefois, nous ne formulons aucune garantie à cet égard, qu'elle soit expresse ou implicite. De même, nous ne formulons aucune garantie à l'égard de l'utilisation du présent site internet ; il incombe à chaque utilisateur de s'assurer que ses appareils sont protégés contre les virus ou contre tout autre facteur extérieur. Vos droits sont protégés en vertu de la loi irlandaise sur la vente de marchandises et la prestation de services (Sale of Goods and Supply of Services Act) de 1980, ainsi que de la loi en matière de protection des consommateurs (Consumer Protection Act) de 2007, en votre qualité de consommateur. Le présent site internet n'affectera pas vos droits en vertu du droit en vigueur de quelque manière que ce soit.
            </div>
            <div class="strong-annuler-une-commande-Zi4">Divisibilité</div>
            <div class="en-tant-que-client-vous-pouvez-annuler-une-commande-sous-14-jours-et-vous-serez-rembours-du-montant-de-cette-dernire-sur-le-compte-avec-lequel-vous-avez-pay-votre-commande-UKE">
                Toute disposition des présentes conditions générales qui viendrait à être nulle, illégale ou non applicable pour quelque raison que ce soit sera réputée dissociée du reste des conditions générales qui demeureront valables et exécutoires.
            </div>
        </div>
    </div>

    {% include 'footer.html.twig' %}
</body>