<!-- Formulaire de paiement demandant les détails de la carte bancaire et l'email de l'utilisateur -->
<form action="paiement.php" method="post">
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" name="email" placeholder="Email" class="form-control" required>
	</div>
	<div class="form-group">
		<label for="card-id">
			Carte bancaire
		</label>
		<div id="card-id">
			<!-- Un élément de type carte bancaire -->
		</div>
		<label for="card-expire">
			Carte bancaire
		</label>
		<div id="card-expire">
			<!-- Un élément de type carte bancaire -->
		</div>
		<label for="card-code">
			Carte bancaire
		</label>
		<div id="card-code">
			<!-- Un élément de type carte bancaire -->
		</div>
		<!-- Utilisé pour afficher les erreurs de validation -->
		<div id="card-errors" role="alert"></div>
	</div>
	<button type="submit" class="btn btn-success">Payer</button>
</form>



